body {
    font-family: "Raleway", sans-serif;
  }
  
  /* Hero Section */
  
  #Presentacion {
    background-image: url("../imagenes/imagen\ principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  
  /* Mis trabajos */
  #Mis-trabajos{
    background-color: rgb(90, 88, 88);
  }
  
  #Mis-trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  /* Contacto */
  .row {
    display: flex;
    justify-content: space-evenly;
  }
  #Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  .redes {
    display: flex;
    justify-content: space-evenly;
  }
  .redes img{
    width: 30px;
  }
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
